@import url("general.css");
@import url("typography.css");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--font-color);
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr; /* 1 column for sidebar, 2 columns for main */
  grid-template-rows: auto;
  grid-template-areas: "sidebar main";
  grid-row: 2;
  grid-column: 1 / -1;
}
.sidebar {
  padding: 1em;
}

/* Style the sidebar */
.main {
  background-color: var(--background-color);
  padding: 1em;
}

header {
  background-color: var(--main-color);
  grid-row: 1;
  grid-column: 1 / -1;
  color: #fff;
  padding: 1em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img {
  width: 5vw;
}
.navigation {
  display: flex;
}
a {
  display: block;
  text-decoration: none;

  padding: 1em;
}

a:link {
  color: #fff;
}

a:visited {
  color: var(--complementary-color-variant1);
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: var(--background-color);
}
header h1 {
  margin: 0;
  font-size: 36px;
  text-align: center;
  color: var(--background-color);
}

main {
  padding: 20px;
}
.product-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product {
  width: 38em;
  text-align: center;
}

.product img {
  width: 80%;
  object-fit: cover;
  height: 60%;
}

footer {
  background-color: var(--complementary-color);
  color: var(--background-color);
  text-align: center;
  grid-row: 3;
  grid-column: 1 / -1;
  padding: 1em;
}
.btn {
  display: inline-block;
  padding: 1em 2em;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.btn--positive {
  background-color: green;
  color: white;
  border-color: green;
}

.btn--danger {
  background-color: red;
  color: white;
  border-color: red;
}

.btn--reset {
  background-color: gray;
  color: white;
  border-color: gray;
}

.btn--small {
  padding: 0.5em 1em;
  font-size: 14px;
}

.btn--big {
  padding: 2em 3em;
  font-size: 20px;
}
.all-buttons {
  width: 100%;

  grid-row: 2;
  grid-column: 1 / -1;
}
.content-container {
  background-color: var(--background-color);
}
.calculator {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-div {
  margin: 20px 0;
}
